In [ ]:
Python Programming

In [ ]:
Understanding variables in python :

In [1]:
a = 5
b = 4
a+b

9

In [ ]:
the values 5 and 4 are stored in the variables a and b . variables are used to store the values

In [ ]:
Rules for variables in python :
    1. No name spaces in  variable names

In [3]:
my name = 'dhekshi'
print(my name)

SyntaxError: invalid syntax (Temp/ipykernel_3140/512356201.py, line 1)

In [5]:
myname ='dhekshi'
print(myname)

dhekshi

In [ ]:
2. variable name should not start with a digit(0-9)

In [8]:
5name = 'ayesha'
print(5name)

SyntaxError: invalid syntax (Temp/ipykernel_3140/736952680.py, line 1)

In [7]:
name_5 = 'ayesha'
print(name_5)

ayesha

In [ ]:
3. variable name should not contain any special characters (!, @, $, %, &, *)

In [9]:
name% = 'Fayaz'
print(name%)

SyntaxError: invalid syntax (Temp/ipykernel_3140/1310748919.py, line 1)

In [10]:
name = 'Fayaz'
print(name)

Fayaz

In [ ]:
Commenting in python :
    '#' is used for commenting lines in python
    # my name is dhekshitha
    # I am learning python programming

In [ ]:
Data types in python :
    1. strings
    2. numbers --> int, float(decimal point numbers), complex(a+bj)
    3. list
    4. tuple
    5. dictionary

In [ ]:
classification of datatypes :
    The data types in python are braodly classified into :
        1. mutable datatypes --> flexible datatype --  we can alter and edit
        2. immutable datatypes --> fixed datatype   -- we cannot alter or edit

In [ ]:
strings:
    strings are a sequence of characters enclosed by quotes.
    There are three types of approaches :
        1. single quotes
        2. double quotes
        3. triple quotes

In [11]:
fruit = 'banana' #single quote
print(fruit)

banana

In [12]:
friend = "Rizwana"# double quotes
print(friend)

Rizwana

In [13]:
mother = """Khasimbee""" #triple quotes
print(mother)

Khasimbee